*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo__inicial{
    text-align: center;
    margin-top: 20px;
}
.conteiner{
    width: 90%;
    margin: 20px auto;
    background: white;
    border-radius: 10px;

}

.dato__ciclo{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contenedor__tabla1{
    margin-top: 30px;
    width: 80%;
    /* background-color: red; */
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.contenedor__tabla2{
    /* background-color: yellow; */
    padding: 10px;
    border: 1px solid black;
    margin-top: 20px;
    
}
.dato__class{
    width: 90%;
    margin-top: 40px;
    margin-bottom: 110px;
}
.dato__titulo-1{
    margin-top: 10px;
    text-align: center;
    
}
.dato__titulo-2{
    text-align: center;
}

.dato__ciclo-tb{
    border-collapse: collapse;
}
.td__dni{
    height: 40px;
}
/* .curso__formulario{
    background: blue;

} */
.curso__formulario-text{
    margin-left: 10px;
    width: 50%;
    border: 1px solid green;
    padding: 2px;
    border-radius: 2px;
    outline: none;
}
.curso__formulario-submit{
    margin-left: 10px;
    background: rgb(115, 172, 115);
    border: none;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    color: white;
}
.curso__formulario-submit:hover{
    background: rgb(69, 179, 69);
}
th,td{
    border: solid 1px black;
    padding: 0;
}

.dato__cursos-matriculado{
    margin-top: 30px;
    border-collapse: collapse;
}
.head_encabezado{
    background: green;
    border: none;

}
.tb__curso-encabezado{
    background: rgb(123, 123, 231);
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.tb__curso-encabezado-2{
    width: 400px;
}
.tb__curso-encabezado-3{
    width: 150px;
    
}

.td__duracion{
    text-align: center;
}
.td__bimestre{
    text-align: center;
}