*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor_D{
    padding: 50px;
    width: 80%;
    background: white;
    margin: 50px auto;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.titulo{
    width: 100%;
    margin-left: 9px;
    background: rgb(141, 141, 208)
}
.dato__personales{
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
td{
    
    margin-right: 230px;
    display: inline-block;
}
th{
    border: 1px solid black;
    border-color: red;
    background: rgb(238, 166, 166);
    
}
td,th{
    padding: 10px;
}

hr{
    color: red;
    margin-left: 10px;
    margin-top: 20px;
}
.foto{
    margin-top: 40px;
    /* width: 100%;
    margin-left: 10px; */
    display: flex;
    justify-content: space-evenly;
    
    
}
.foto img{
    
    width: 500px;
    height: 350px;
    border-radius: 5px;

}

  