*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor__matricula{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*FORMULARIO listar*/
.listar_alumnos{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(137, 134, 134);
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.listar_alumnos label{
    margin-left: 20px;
}
.btn_listar{
    margin-left: 20px;
}

/*FORMULARIO REGISTRO*/

.formulario__registro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.formulario{
    background: white;
    width: 500px;
    height: 430px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.formulario form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.formulario h2{
    text-align: center;
}
.tabla__alumnos{
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 10px;
}
td{
    background: white;
}
.tabla__alumnos tr td img{
    width: 150px;
    height: 150px;
}
.btn__editar{
    width: 80px;
    height: 25px;
    border: none;
    background: rgb(93, 145, 93);
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
.btn__eliminar{
    width: 80px;
    height: 25px;
    border: none;
    background: rgb(202, 67, 67);
    color: white;
    border-radius: 2px;
    cursor: pointer;
    
}
.btn__editar:hover{
    background: rgb(19, 98, 19);
}
.btn__eliminar:hover{
    background: rgb(163, 3, 3);
}
.tabla__alumnos thead th{
    background: rgb(103, 98, 98);
    color: white;
}
