*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor__notas{
    width: 70%;
    background: white;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
}
.tb__notas{
    margin-top: 20px;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 20px;
}
.tb__nota-final{
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 520px;

}
.tb__nota-final tr th{
    background: rgb(142, 142, 245);
}
.tb__notas thead{
    background: rgb(136, 136, 186);
}
.td__bimestre-p{
    text-align: center;
    background: rgb(198, 165, 165);
}
#btn_notas{
    background: rgb(142, 192, 142);
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
}
.btn_notas:hover{
    background: rgb(91, 194, 91);
    color: white;
}
.form_notas{

}
.texto_dni{
    border: 0.5px solid rgb(223, 156, 156);
    height: 20px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    
}
.submit_notas{
    background: rgb(117, 212, 117);
    height: 30px;
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.editar_notas{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}
.editar_notas-activate{
    opacity: 1;
    pointer-events: auto;
}

.form__editar-notas{
    background: white;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.btn_editar_notas{
    background: rgb(74, 74, 158);
    border: none;
    border-radius: 5px;
    height: 25px;
    cursor: pointer;
    margin-top: 10px;
    color: white;
}


